
		
	{{{
		<div class="container">
			<div class="row">
				<main class="col-md-12">

					
					<h2 style="padding-top: 165px;">Welcome to my first ever website!</h2>
					<p>Welcome to the world of HTML5, where the possibilities for web development are boundless. Get ready to unleash your creativity and build remarkable websites! Join me on this exciting coding journey!
					</p>
					<h3>Introduction to the Website</h3>
					<p>This website has three static pages (Home, About, HTML Demo) as well as five routes that provide data.
						
						   <a href="/">Home</a>, 
						   <a href="/about">About</a>, 
						   <a href="/htmlDemo">HTML Demo</a>, 
						   <a href="/students">All Students</a>, 
						   <a href="/students?course=">Students by Course</a>, 
						   <a href="/student/3">A Single Student By Student Number</a>, 
						   <a href="/tas">All Tas</a>, and 
						   <a href="/courses">All Courses</a>. 
						   Please feel free to browse the website and take use of the variety of information it provides...</p>
					<h3>Introduction to HTML5</h3>
					<p>HTML5 is the latest version of Hypertext Markup Language, the standard language for creating web pages and applications. It brings a range of new features and improvements, allowing developers to build more powerful and interactive websites. 
						
				</main>
			</div>
		</div>

	}}}